

#content {
	width: auto;
	margin: 0 auto;
}

.item {
	display:block;
	float:left;
	width:300px;
	margin: 0 20px 20px 0;
	z-index:-2;
}
	
.item img {
	width:300px;
	height:auto;
	z-index:-2;
}

.featured {
	width: 620px;
}

.featured img {
  width: 620px;
  height: auto;
}

	
	
	
	
	













