
@font-face {
	font-family: "Intro Inline";
	src: url("../font/Intro Inline.otf");
}

html {
	background:#222;
}

body {
	color: #222;
	background:rgba(140, 191, 217, 1);
	height: .25rem;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	width: 0%;
	font-size:15px;
}

a {
	text-decoration:none;
	margin:0;
}

p {
	margin:0;
	padding:0;
	font-size:15px;
}

h1 {
	font-size:15px;
}

.wrap {
	opacity:0;
}

/********** HOME PAGE **********/

#pageHome {
	position:relative;
	height:100vh;
	background:rgba(140, 191, 217, .8);
	overflow:hidden;
}

#homeBackground {
	position:absolute;
	height:100vh;
	width:100vw;
	-webkit-transform:scale(1.2) !important;
	transform:scale(1.2) !important;
}

.parallax1 {
	position:absolute;
	height:100vh;
	width:100vw;
	background-image: url("../image/Centerfold/Centerfold1.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax2 {
	position:absolute;
	height:100vh;
	width:100vw;
	background-image: url("../image/Centerfold/Centerfold2.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax3 {
	position:absolute;
	height:100vh;
	width:100vw;
	background-image: url("../image/Centerfold/Centerfold3.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x:50%;
}

#homeMenu:hover h1 {
	background:rgba(0,0,0,.4);
	color:white;
	font-weight:800;
}

.title {
	position:absolute;
	left:50%;
	font-family:"Intro Inline";
	font-weight:normal;
	letter-spacing:.1em;
	font-size:1.5em;
	background:rgba(255,255,255,.81);
	padding-top:15px;
	white-space:nowrap;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	cursor:none;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);

}

h1 {
	position:relative;
	color:black;
	text-align:center;
	text-transform:uppercase;
	font-family:"Intro Inline";
	font-weight:normal;
	padding:0px 20px;
	margin:0;
	border-radius:0px;
}

#hello {
	position:absolute;
	display:none;
	top:83px;
	left:50%;
	padding:10px 10px 5px 10px;
	background:rgba(0,0,0,.2);
	font-family:"Intro Inline";
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

#hello p {
	color:rgba(255,255,255,.81);
	font-size:1.15em !important;
	white-space:nowrap;
}

.homeText {
	font-size:3em !important;
}

.homeTitle {
	position:absolute;
	display:none;
}

#homeMenu {
	position:absolute;
	display:none;
	left:50%;
	top:115px;
	font-family:"Intro Inline";
	font-weight:800;
	letter-spacing:.1em;
	font-size:1.5em;
	cursor:pointer;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

.menuText {
	font-size:1em !important;
	padding-top:5px;
	background:rgba(255,255,255,.81);
}

#introSheet {
	position:absolute;
	display:none;
	top:20vh;
	left:50%;
	height:60vh;
	padding:0px 5px;
	background:rgba(0,0,0,.9);
	border-radius:0px;
	border:0px solid white;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

#introSheet > p {
	position:absolute;
	display:block;
	width:80%;
	top:50%;
	left:50%;
	font-family:"Playfair Display";
	color:rgba(255,255,255,.81);
	line-height:175%;
	letter-spacing:.01em;
	font-size:18px;
	-webkit-transform:translateY(-50%) translateX(-48%);
	transform:translateY(-50%) translateX(-48%);
}

#arrow {
	position:absolute;
	display:block;
	color:rgba(255,255,255,.81);
	width:60%;
	top:-63%;
	left:47.5%;
	font-size:2em;
	text-align:center;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%) rotate(90deg);
}

.littleCaps {
	font-variant:small-caps;
	font-weight:600;
}

#dropCap {
	font-size:5em;
	float:left;
	padding: 0 5px 10px 0;
}

.displayThis {
	display:block !important;
}

.pov {
	position:absolute;
	height:10vh;
	max-width:100px;
	max-height:100px;
	background:#111;
	font-family:"Intro Inline";
	letter-spacing:.1em;
	border:1px solid white;
	border-radius:100%;
	left:50%;
	top:100%;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
}

.pov:hover {
	background:#fff;
	border:1px solid #111;
}

.pov:hover p {
	color:#111;
}

.buttonText {
	position:relative;
	margin:0;
	top:50%;
	padding-top:5px;
	text-align:center;
	color:white;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.homeText{z-index:99};
.homeTitle{z-index:99;}
#hello{z-index:100;}
#homeMenu{z-index:101;}

/********** POV MAP PAGE **********/

#povNavBar {
	position:absolute;
	bottom:10vh;
	left:10%;
	height:25vw;
}

#mapBackground {
	position:absolute;
	height:100vh;
	width:100vw;
	background-image: url("../image/mspGoogle.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	pointer-events:none;
}

.mapTitle {
	position:absolute;
	top:0;
	left:50% !important;
	background:#444;
	font-weight:normal;
	letter-spacing:.1em;
	font-size:1.5em;
	border-radius:3px;
	border:2px solid #111;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	cursor:none;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	
}

.mapText {
	padding-top:10px;
	padding-right:15px;
	font-size:1.7em;
	font-weight:600;
	color:#666;
}

#homeTab {
	position:relative;
	display:inline-block;
	left:-35%;
	height:100%;
	background:#444;
	border-radius:0px;
	border:2px solid #111;
	box-sizing:border-box;
	overflow:hidden;
}

#aboutTab {
	position:absolute;
	display:inline-block;
	left:35%;
	top:30%;
	height:70%;
	background:#444;
	border-radius:3px;
	border:2px solid #111;
	box-sizing:border-box;
	overflow:hidden;
}

#aboutTab:hover, #homeTab:hover {
	background:rgba(255,255,255,.91);
}

#aboutTab:hover .povNavText, #homeTab:hover .povNavText {
	color:#111;
}

.mapPov {
	color:black;
}

.mapPovPhase {
	background:white;
	border:2px solid black;
	cursor:auto;
}

.povNavText {
	position:absolute;
	color:#666;
	font-size:1.3em;
	font-family:"Intro Inline";
	text-transform:uppercase;
	top:5px;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}

#outerCircle {
	position:absolute;
	top:50%;
	left:50%;
	border:1px white solid;
	border-radius:100%;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
	cursor:crosshair;
}

#centerCircle {
	background:;
}

.povCircle {
	position:absolute;
	top:50%;
	left:50%;
	border:1px white solid;
	border-radius:100%;
	background:rgba(255,255,255,.01);
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
}

.povCircle:hover {
	background:rgba(255,255,255,.3);
}

#svg {
	position:absolute;
	display:none;
	height:100vh;
	width:100vw;
	pointer-events:none;
}
#line1 {
	position:absolute;
	stroke:rgba(255,0,0,1);
	stroke-width:4;
	stroke-linecap:"round";
}

.appear {
	display:block !important;
}

.imgCircle {
	position:absolute;
	border:1px black solid;
	height:0;
	width:0;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%;);
	overflow:hidden;
	background-color: #ffc579;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
	background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
	background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
	background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
	background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
	background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
	border-radius:100%;
	opacity:1;
}

.imgCircle img {
	width:100%;
	height:100%;
	opacity:0;
}

.imgCircle:hover {
	height:12vh !important;
	width:12vh !important;
	background:black !important;
	opacity:1 !important;
}

.imgCircle:hover img {
	opacity:1;
}

.imgCircle:hover .viewedText {
	font-size:0em;
}

.ringOne {left:45vh;top:50%;}/*Lantern*/
.ringTwo {left:42vh;top:48%;}/*Beacon*/
.ringThree {left:40vh;top:44%;}/*Guidepost*/
.ringFour {left:46.5vh;top:75vh;}/*Sentinel*/
.ringFive {left:49vh;top:48.5%;}/*Indication*/
.ringSix {left:41.5vh;top:53%;}/*Landmark*/
.ringSeven {left:58.5vh;top:73%;}/*Crest*/
.ringEight {left:62.5vh;top:48%;}/*Handpost*/
.ringNine {left:42.5vh;top:68%;}/*Pagoda*/
.ringTen {left:38.5vh;top:73%;}/*Visage*/
.ringEleven {left:28.5vh;top:50%;}/*Peephole*/
.ringTwelve {left:22.5vh;top:53%;}/*Patrol*/
.ringThirteen {left:37vh;top:41%;}/*Watchtower*/
.ringFourteen {left:57.5vh;top:51%;}/*Observatory*/
.ringFifteen {left:50.5vh;top:15%;}/*Outlook*/

.viewed {
	border:1px #7CE958 solid;
	background:rgba(102, 153, 51, 1);
}

.viewed img {
	opacity:.5;
}

.viewedText {
	position:absolute;
	display:none;
	top:50%;
	left:50%;
	color:rgba(42, 227, 122, 0.8);
	font-size:1.5em;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%;);
}

.viewed .viewedText {
	display:inline-block;
}

#milesBox {
	position:absolute;
	display:none;
	width:5vh;
}

#miles {
	position:absolute;
	display:inline-block;
	width:40px;
}

#odoTitle {
	position:absolute;
	display:inline-block;
	top:1px;
	right:100%;
	font-family:"Intro Inline";
	text-transform:uppercase;
	background:white;
	padding:4px 5px 1px 5px;
}

#screenOverlay {
	display:none;
}

.povCircle {z-index:99;}
#odoTitle {z-index:111;}
#milesBox {z-index:111;}
.imgCircle {z-index:100;}
.imgCircle img {z-index:99;}
.imgCircle:hover {z-index:101;}
#svg {z-index:111;}
#line1 {z-index:111;}
#mapBackground {z-index:98;}
#outerCircle {z-index:99;}
#povNavBar {z-index:111;}

/********** ABOUT PAGE **********/

#aboutTitle {
	position:relative;
	left:0%;
	top:0%;
	color:white;
	text-align:center;
	text-transform:uppercase;
	font-family:"Intro Inline";
	font-size:2em;
	letter-spacing:.1em;
	margin:0;
	padding-top:20px !important;
	background:rgba(0,0,0,.0);
	border-radius:0px;
	border:1px solid white;
	border-left:0px;
	border-right:0px;
	border-top:0px;
}

#aboutSheet {
	position:relative;
	display:none;
	top:10%;
	left:5%;
	background:rgba(0,0,0,.4);
	height:90vh;
	border-radius:0px;
	border-left:1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
}

#aboutBackground {
	position:absolute;
	height:100vh;
	width:100vw;
	background-image: url("../image/About.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#aboutSheet p {
	padding:33px 10px;
	background:rgba(0,0,0,.7);
	font-size:1em;
	color:#fff;
}

#paraText {
	/*overflow:scroll;*/
}

#paraText > p {
	padding:20px 20px 0px 25px;
	margin:0;
	font-family:"Playfair Display";
	line-height:170%;
	letter-spacing:.01em;
	background:rgba(0,0,0,.7);
	font-size:1.2em;
	color:rgba(255,255,255,.81);
}

#paraText > p.firstPara {
	padding-top:20px;
	padding-bottom:0;
}

#paraText > p.lastPara {
	padding-bottom:50px;
}

#aboutSheet h1 {
	color:#fff;
	background:rgba(0,0,0,.7);
	padding: 15px 0px;
}

.aboutButton {
	display:inline-block;
	height:10vw;
	font-family:"Intro Inline";
	letter-spacing:.1em;
	text-transform:uppercase;
	background:rgba(255,255,255,.3);
	margin:0;
}

.aboutButton:hover .buttonText {
	background:#fff !important;
	color:black !important;
}

.aboutButton:hover {
	background:#111;
}


#aboutBackground {z-index:100;}
#aboutSheet {z-index:110;}

/********** POV PAGE **********/

.povTitle {
	font-size:1.5em;
	font-weight:600;
	color:white;
	padding:0px 5px 0px 7px;
}

.povPage {
	background:rgba(0,0,0,.5);
	padding:7px 5px 0 5px;
}

#miniUI {
	position:absolute;
	display:none;
	top:85%;
	height:10vh;
	border:1px solid white;
	border-radius:100%;
	cursor:pointer;
}

#povUI {
	position:absolute;
	display:block;
	bottom:5%;
	right:10%;
	background:#fff;
	min-width:65vh;
	height:17vh;
	min-height:138px;
	border-radius:100px;
	z-index:100;
}

#poemContain {
	position:relative;
	display:inline-block;
	top:50%;
	left:50%;
	padding:0px 75px 0px 75px;
	font-family:"Playfair Display";
	letter-spacing:.01em;
	line-height:150%;
	margin:0 auto;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
}

#povTab {
	position:absolute;
	height:15vh;
	background:#333;
	border-radius:100%;
	border:1px white solid;
	left:100%;
	top:0;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
	z-index:99;
	cursor:pointer;
}

#povTab:hover {
	background:white;
	border:1px solid black;
}

#povTab:hover p {
	color:black;
}

#milesFrom {
	position:absolute;
	height:5vh;
	background:#333;
	border-radius:100px;
	border:1px white solid;
	left:80%;
	top:0;
	-webkit-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);
}

#milesFrom p {
	position:relative;
	color: white;
	text-align:center;
	font-family:"Intro Inline";
	text-transform:uppercase;
	letter-spacing:.1em;
	padding-top:5px;
	top:50%;
	left:-2%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

#hidePoem {
	position:absolute;
	display:block;
	height:25px;
	width:167px;
	top:1.9vh;
	left:70.3%;
	border-radius:100px 100px 0 100px;
	border:1px solid black;
	border-right:0;
	cursor:pointer;
}

#hidePoem p {
	position:relative;
	color: black;
	text-align:center;
	font-family:"Intro Inline";
	text-transform:uppercase;
	letter-spacing:.1em;
	padding:7px 0px 0 0px;
	top:50%;
	left:5%;
	-webkit-transform:translateY(-50%) translateX(-12%);
	transform:translateY(-50%) translateX(-12%);
}

#hidePoem:hover {
	background:rgba(0,0,0,.5);
}

#hidePoem:hover p {
	color:rgba(255,255,255,.81);
}

#povBackground {
	position:absolute;
	height:100vh;
	width:100vw;
	background-image: url("../image/About.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#povBackground{z-index:100;}
#homeTitle{z-index:110;}
#miniUI{z-index:110;}
#povUI{z-index:110;}
#poemContain{z-index:98;}
#milesFrom{z-index:99;}
#hidePoem{z-index:98;}
#povTab{z-index:100;}

/*.heightOne		{height:5vw;}
 .heightTwo		{height:10vw;}
 .heightThree	{height:15vw;}
 .heightFour		{height:20vw;}
 .heightFive		{height:25vw;}
 .heightSix		{height:30vw;}
 .heightSeven	{height:35vw;}
 .heightEight	{height:40vw;}
 .heightNine		{height:45vw;}
 .heightTen		{height:50vw;}
 .heightEleven	{height:55vw;}
 .heightTwelve	{height:60vw;}
 .heightThirteen	{height:65vw;}
 .heightFourteen	{height:70vw;}
 .heightFifteen	{height:75vw;}
 .heightSixteen	{height:80vw;}
 .heightSeventeen{height:85vw;}
 .heightEighteen	{height:90vw;}
 .heightNineteen	{height:95vw;}
 
 .one		{width:5vw;}
 .two		{width:10vw;}
 .twoThirds	{width:13.33vw;}
 .three		{width:15vw;}
 .four		{width:20vw;}
 .five		{width:25vw;}
 .six		{width:30vw;}
 .seven		{width:35vw;}
 .eight		{width:40vw;}
 .nine		{width:45vw;}
 .ten		{width:50vw;}
 .eleven		{width:55vw;}
 .twelve		{width:60vw;}
 .thirteen	{width:65vw;}
 .fourteen	{width:70vw;}
 .fifteen	{width:75vw;}
 .sixteen	{width:80vw;}
 .seventeen	{width:85vw;}
 .eighteen	{width:90vw;}
 .nineteen	{width:95vw;}
 .twenty		{width:100vw;}*/


/*************** THE GRID ***************/
.heightOne		{height:5vh;}
.heightTwo		{height:10vh;}
.heightThree	{height:15vh;}
.heightFour		{height:20vh;}
.heightFive		{height:25vh;}
.heightSix		{height:30vh;}
.heightSeven	{height:35vh;}
.heightEight	{height:40vh;}
.heightNine		{height:45vh;}
.heightTen		{height:50vh;}
.heightEleven	{height:55vh;}
.heightTwelve	{height:60vh;}
.heightThirteen	{height:65vh;}
.heightFourteen	{height:70vh;}
.heightFifteen	{height:75vh;}
.heightSixteen	{height:80vh;}
.heightSeventeen{height:85vh;}
.heightEighteen	{height:90vh;}
.heightNineteen	{height:95vh;}

.one		{width:5vh;}
.two		{width:10vh;}
.twoThirds	{width:13.33vh;}
.three		{width:15vh;}
.four		{width:20vh;}
.five		{width:25vh;}
.six		{width:30vh;}
.seven		{width:35vh;}
.eight		{width:40vh;}
.nine		{width:45vh;}
.ten		{width:50vh;}
.eleven		{width:55vh;}
.twelve		{width:60vh;}
.thirteen	{width:65vh;}
.fourteen	{width:70vh;}
.fifteen	{width:75vh;}
.sixteen	{width:80vh;}
.seventeen	{width:85vh;}
.eighteen	{width:90vh;}
.nineteen	{width:95vh;}
.twenty		{width:100vw;}






