
.pTitle {
	width:500px;
	margin:0 auto;
	margin: 35px auto;
	text-align:center;
	font-size:22px;
	letter-spacing:.1em;
}

#container p {
	font-size:16px;
	font-family:"Raleway";
	width:600px;
	margin:0 auto;
	margin-bottom:20px;
	text-rendering:optimizeLegibility;
	letter-spacing:.06em;
	word-spacing:.07em;
	line-height:1.40em;
	text-indent:2em;
	background:#dedeba;
	padding:15px;
	color:black;
	border-radius:20px;
}

body {
	background:url("../images/cover.jpg");
	background-size: cover;
}

#container p:first-of-type {
	background:	#e2d9cf;
}
#container p:nth-child(2) {
	background:	#e2d9cf;
}
#container p:last-of-type {
	background:	#e2d9cf;
}
